<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cấu hình Website
        <small>Sửa thông tin Website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink=""><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Cấu hình website</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin Website</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form (ngSubmit)="onSubmit()" [formGroup]="formCompanyInfoChange" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên công ty</label>
                            <input formControlName="name" type="text" class="form-control"
                                   placeholder="Nhập tên công ty">
                            <span *ngIf="formCompanyInfoChange.get('name').touched && formCompanyInfoChange.get('name').hasError('required')"
                                  class="error text-danger">
                                Tên công ty không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ công ty</label>
                            <input formControlName="address" type="text" class="form-control"
                                   placeholder="Nhập địa chỉ công ty">
                            <span *ngIf="formCompanyInfoChange.get('address').touched && formCompanyInfoChange.get('address').hasError('required')"
                                  class="error text-danger">
                                Địa chỉ công ty không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Email công ty</label>
                            <input formControlName="email" type="text" class="form-control"
                                   placeholder="Nhập email công ty">
                            <span *ngIf="formCompanyInfoChange.get('email').touched && formCompanyInfoChange.get('email').hasError('required')"
                                  class="error text-danger">
                                Email công ty không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Các website công ty liên kết</label>
                            <input formControlName="website" type="text" class="form-control"
                                   placeholder="Nhập các website liên kết">
                            <span *ngIf="formCompanyInfoChange.get('website').touched && formCompanyInfoChange.get('website').hasError('required')"
                                  class="error text-danger">
                                Các website liên kết không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Hotline công ty</label>
                            <input formControlName="hotline" type="text" class="form-control"
                                   placeholder="Nhập hotline công ty">
                            <span *ngIf="formCompanyInfoChange.get('hotline').touched && formCompanyInfoChange.get('hotline').hasError('required')"
                                  class="error text-danger">
                                Hotline công ty không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Nội dung bài viết giới thiệu về công ty</label>
                            <ckeditor [config]="" formControlName="aboutContent"></ckeditor>
                            <span *ngIf="formCompanyInfoChange.get('aboutContent').touched && formCompanyInfoChange.get('aboutContent').hasError('required')"
                                  class="error text-danger">
                                Bài viết giới thiệu không được bỏ trống
                            </span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button [disabled]="formCompanyInfoChange.invalid" type="submit" class="btn btn-primary">Lưu
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>

