<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Đăng nhập</p>
            <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
                <div class="form-group has-feedback">
                    <input formControlName="username" type="email" class="form-control" placeholder="Tên tài khoản">
                    <span *ngIf="formLogin.get('username').touched && formLogin.get('username').hasError('required')" class="error text-danger">Tên tài khoản không được bỏ trống</span>
                </div>
                <div class="form-group has-feedback">
                    <input formControlName="password" type="password" class="form-control" placeholder="Mật khẩu">
                    <span *ngIf="formLogin.get('password').touched && formLogin.get('password').hasError('required')" class="error text-danger">Mật khẩu không được bỏ trống</span>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

