<mat-dialog-content class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;"
                 [src]="data.cover_image !== '' ? data.cover_image : 'assets/dist/img/no_image.png'"
                 alt="Ảnh bìa sản phẩm"/>
        </div>
        <div class="col-xs-8" style="border:0px solid gray">
            <!-- Tên sản phẩm -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Tên sản phẩm</small>
            </h6>
            <h3 style="margin-top:0px;">{{data.name}}</h3>

            <!-- Thuộc về danh mục -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Thuộc về danh mục</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.category_name}}</h5>

            <!-- Đơn vị tính -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Đơn vị tính</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.unit_name}}</h5>

            <!-- Giá -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Giá</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.price | currency:'VND'}}</h5>

            <!-- Số lượng trong kho -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Số lượng còn trong kho</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.quantity_remaining}}</h5>

            <!-- Tình trạng -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Tình trạng</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.out_of_stock_flag == false ? 'Còn hàng' : 'Hết hàng'}}</h5>

            <!-- Mô tả ngắn -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Mô tả ngắn</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.description}}</h5>

            <!-- Thẻ tags -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Các tags</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.tags}}</h5>

            <!-- Thời điểm tạo -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Thời điểm tạo</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.created_at}}</h5>

            <!-- Thời điểm cập nhật -->
            <h6 class="title-price" style="margin-top: 0;">
                <small>Thời điểm cập nhật</small>
            </h6>
            <h5 style="margin-top:0px;">{{data.updated_at}}</h5>
        </div>

        <div class="col-xs-12">
            <ul class="menu-items">
                <li class="active">Bài viết mô tả sản phẩm</li>
            </ul>
            <div style="width:100%;border-top:1px solid silver" [innerHTML]="data.posts">
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Đóng</button>
</mat-dialog-actions>

