<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tài khoản
        <small>Đổi mật khẩu</small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink=""><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Tài khoản</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin tài khoản</h3>
                    <a href="user-create" routerLink="/user-list"><i class="fa fa-list fa-2x"
                                                                     style="margin-left: 10px; color: green;"></i></a>
                    <a href="user-create" routerLink="/user-create"><i class="fa fa-plus-circle fa-2x"
                                                                       style="margin-left: 10px; color: green;"></i></a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form (ngSubmit)="onSubmit()" [formGroup]="formChangeUserPassword" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên tài khoản</label>
                            <input formControlName="username" type="hidden" class="form-control" placeholder="Nhập tên tài khoản">
                            <span *ngIf="formChangeUserPassword.get('username').touched && formChangeUserPassword.get('username').hasError('required')"
                                  class="error text-danger">
                                Tên tài khoản không được bỏ trống
                            </span>
                            <span *ngIf="formChangeUserPassword.get('username').touched && formChangeUserPassword.get('username').hasError('pattern')"
                                  class="error text-danger">
                                Tên tài khoản từ 6 - 20 kí tự bao gồm chữ cái và số, phải bắt đầu bằng chữ cái
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input formControlName="password" type="password" class="form-control"
                                   placeholder="Nhập mật khẩu">
                            <span *ngIf="formChangeUserPassword.get('password').touched && formChangeUserPassword.get('password').hasError('required')"
                                  class="error text-danger">
                                Mật khẩu không được bỏ trống
                            </span>
                            <span *ngIf="formChangeUserPassword.get('password').touched && formChangeUserPassword.get('password').hasError('pattern')"
                                  class="error text-danger">
                                Mật khẩu chứa chữ cái và số, phải có ít nhất 1 chữ số, ít nhất 1 kí tự thường, ít nhất 1 kí tự in hoa, độ dài từ 6 đến 20 kí tự
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu</label>
                            <input formControlName="retypePassword" type="password" class="form-control"
                                   placeholder="Nhập lại mật khẩu">
                            <span *ngIf="formChangeUserPassword.get('retypePassword').touched && formChangeUserPassword.get('retypePassword').hasError('required')"
                                  class="error text-danger">
                                Nhập lại mật khẩu không được bỏ trống
                            </span>
                            <span *ngIf="formChangeUserPassword.get('retypePassword').touched && formChangeUserPassword.get('retypePassword').value != formChangeUserPassword.get('password').value"
                                  class="error text-danger">
                                Nhập lại mật khẩu không đúng
                            </span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button [disabled]="formChangeUserPassword.invalid" type="submit" class="btn btn-primary">Lưu
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
