<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tài khoản
        <small>Sửa thông tin cá nhân</small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink=""><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Tài khoản</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin tài khoản</h3>
                    <a href="user-create" routerLink="/user-list"><i class="fa fa-list fa-2x"
                                                                     style="margin-left: 10px; color: green;"></i></a>
                    <a href="user-create" routerLink="/user-create"><i class="fa fa-plus-circle fa-2x"
                                                                       style="margin-left: 10px; color: green;"></i></a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form (ngSubmit)="onSubmit()" [formGroup]="formChangeUserInfo" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên tài khoản</label>
                            <input formControlName="username" type="hidden" class="form-control"
                                   placeholder="Nhập tên tài khoản">
                            <span *ngIf="formChangeUserInfo.get('username').touched && formChangeUserInfo.get('username').hasError('required')"
                                  class="error text-danger">
                                Tên tài khoản không được bỏ trống
                            </span>
                            <span *ngIf="formChangeUserInfo.get('username').touched && formChangeUserInfo.get('username').hasError('pattern')"
                                  class="error text-danger">
                                Tên tài khoản từ 6 - 20 kí tự bao gồm chữ cái và số, phải bắt đầu bằng chữ cái
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Nhập họ và tên">
                            <span *ngIf="formChangeUserInfo.get('name').hasError('required')"
                                  class="error text-danger">
                                Họ và tên không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input formControlName="email" type="text" class="form-control" placeholder="Nhập email">
                            <span *ngIf="formChangeUserInfo.get('email').hasError('required')"
                                  class="error text-danger">
                                Email không được bỏ trống
                            </span>
                            <span *ngIf="formChangeUserInfo.get('email').hasError('email')"
                                  class="error text-danger">
                                Định dạng email không hợp lệ
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input formControlName="phone" type="text" class="form-control"
                                   placeholder="Nhập số điện thoại">
                            <span *ngIf="formChangeUserInfo.get('phone').hasError('pattern')"
                                  class="error text-danger">
                                Số điện thoại không hợp lệ
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input formControlName="address" type="text" class="form-control"
                                   placeholder="Nhập địa chỉ">
                        </div>
                        <div class="form-group">
                            <label>Ảnh đại diện </label>
                            <input type="file" (change)="chooseAvatar($event);" accept="image/*">
                            <button *ngIf="formChangeUserInfo.get('avatar').value != ''" (click)="removeAvatar();">Xóa hình
                            </button>
                            <input formControlName="avatar" type="hidden" class="form-control">
                            <img style="max-width: 120px; max-height: 120px;"
                                 [src]="formChangeUserInfo.get('avatar').value || 'assets/dist/img/unknow_user.png'"
                                 alt="Ảnh đại diện"/>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button [disabled]="formChangeUserInfo.invalid" type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
