<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục
        <small>Sửa</small>
    </h1>
    <ol class="breadcrumb">
        <li><a routerLink=""><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh mục</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin danh mục</h3>
                    <a href="category-list" routerLink="/category-list"><i class="fa fa-list fa-2x"
                                                                     style="margin-left: 10px; color: green;"></i></a>
                    <a href="category-create" routerLink="/category-create"><i class="fa fa-plus-circle fa-2x"
                                                                       style="margin-left: 10px; color: green;"></i></a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form (ngSubmit)="onSubmit()" [formGroup]="formCategory" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên danh mục</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Nhập tên danh mục">
                            <span *ngIf="formCategory.get('name').touched && formCategory.get('name').hasError('required')"
                                  class="error text-danger">
                                Tên danh mục không được bỏ trống
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <input formControlName="note" type="text" class="form-control" placeholder="Nhập ghi chú">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button [disabled]="formCategory.invalid" type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
