body {
    font-family: Arial, Helvetica, sans-serif;
}

.strong-text {
    font-weight: bold;
}

i[class^="fas fa-check"] {
    color: blue;
}

.row {
    padding: 1rem;
}

.item-result h5 {
    color: blue;
    font-weight: bold;
}

.score {
    position: sticky;
}