<h1 mat-dialog-title>Thông báo</h1>
<div mat-dialog-content style="text-align: center;">
    <i *ngIf="data.type === 1" class="fa fa-check-circle fa-4x" style="color: green;"></i>
    <i *ngIf="data.type === 2" class="fa fa-times-circle fa-4x" style="color: red;"></i>
    <i *ngIf="data.type === 3" class="fa fa-exclamation-triangle fa-4x" style="color: orange;"></i>
    <p>{{data.content}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Hủy</button>
    <button mat-button (click)="onAgree()">Đồng ý</button>
</div>
