ul>li {
    list-style-type: none;
}

ul>li>a {
    text-decoration: none;
}
.center-content {
    text-align: center;
}
.logo {
    width: 60px;
}
#left-content .category .title-category {
    background-color: #413b49;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
}
#left-content .category {
    padding: 0;
}
#left-content .category ul {
    padding-left: 0;
    background-color: rgba(81, 75, 88, .8);
}
#left-content .category ul li a {
    padding: 10px 0px;
    padding-left: 30px;
    color: white;
    display: block;
}
#left-content .category ul li:hover {
    background-color: rgba(81, 75, 88, .8);
}
#main-content nav {
    margin-top: 3rem;
}
#right-content img {
    width: 100%;
    height: 100%;
}
#footer {
    background-color: #f8f9fa;
}
#footer ul {
    display: flex;
    justify-content: center;
}
#footer ul li {
    margin-right: 10px;
    float: left;
}
#footer ul li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
}
